<!DOCTYPE html>
<html>
    <head>
        <title>Hello component</title>
        <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/7.24.3/babel.min.js"></script>
    </head>
    <body>
        <div id="root"></div>
        <script type="text/babel">
            class Hello extends React.Component{
                render(){
                    return <b>Hello {this.props.name}</b>;
                }
            }
            ReactDOM.render(<div><Hello name="Khujema"/><br/><Hello name="Katleri"/></div>, document.getElementById("root"));
        </script>
    </body>
</html>